{% extends 'home.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A FORUM</title>
    <link rel="stylesheet" href="{{url_for('static',filename=('answer_replies.css'))}}">
</head>

<body>



    <h3>Replies</h3>
    {% for reply in replies %}
    <p>{{ reply.reply }}</p>
    <p>Posted by: {{ reply.username }}</p>
    <p>Upvotes: {{ reply.upvotes }}</p>
    <p>Downvotes: {{ reply.downvotes }}</p>
    <p>Votes:{{ reply.upvotes - reply.downvotes }}</p>
    <br>
    <form action="{{ url_for('upvote_reply', reply_id=reply.id, answer_id=answer_id) }}" method="POST"><button type="submit">Upvote</button><br>
    </form>|
    <form action="{{ url_for('downvote_reply', reply_id=reply.id, answer_id=answer_id) }}" method="POST"><button type="submit">Downvote</button><br>
    </form><br>
    <hr> {% endfor %}
    <!-- <h3>Reply to this Answer</h3>
<form action="{{ url_for('reply', answer_id=answer_id) }}" method="POST">
    <textarea name="reply" placeholder="Your reply"></textarea>
    <button type="submit">Reply</button>
</form> -->
    <a href="{{url_for('view_question',question_id=question_id)}}">Back</a> {% endblock %}
</body>

</html>