<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A Forum</title>
    <link rel="stylesheet" href="{{url_for('static',filename=('home.css'))}}">
</head>

<body>
    <h1>Welcome to the Q&A Forum</h1>
    <p>Feel free to ask questions and participate in discussions!</p>
    <center>
        <a href="{{url_for('ask_question')}}">Ask Question</a>|<a href="{{url_for('questions')}}">questions</a>|
        <a href="{{url_for('logout')}}">Logout</a>
        <hr> {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %} {% block content %}{% endblock %}

    </center>
</body>

</html>